In [7]:
# Start
import os
import time
print("last time run: {}".format(time.strftime("%c")))
print(os.getcwd())
print(os.environ['CONDA_DEFAULT_ENV'])

last time run: Sat May  4 14:42:46 2019
/home/bren/Home/python/Libraries/data/census/Businesses/county
gis

In [8]:
# Style
from IPython.core.display  import HTML
from IPython.core.debugger import set_trace

def css_styling():
    styles = open("/home/bren/Home/python/Jupyter/Jupyter Notebooks/custom.css", "r").read()
    return HTML(styles)
css_styling()

In [9]:
# setup TOC
import sys
toc_path = '/home/bren/miniconda3/lib/python3.7/site-packages/IPythonTOC-1.2.0-py3.7.egg'
if toc_path not in sys.path:
    sys.path.append(toc_path)
else:
    print('toc_path in sys.path already')

from IPythonTOC import IPythonTOC
toc = IPythonTOC()

toc_path in sys.path already

In [10]:
# imports
from glob import glob
from matplotlib import pyplot as plt, rcParams
import numpy as np
import pandas as pd

%matplotlib inline
plt.style.use("ggplot")
rcParams["figure.figsize"] = (14, 7)

import IPython, platform
%reload_ext watermark
print("Python  {}".format(platform.python_version()))
%watermark -v -m -p glob,IPython,matplotlib,numpy,pandas,sys

Python  3.7.1
CPython 3.7.1
IPython 7.2.0

glob unknown
IPython 7.2.0
matplotlib 3.0.2
numpy 1.15.4
pandas 0.24.1
sys 3.7.1 | packaged by conda-forge | (default, Feb 18 2019, 01:42:00)
[GCC 7.3.0]

compiler   : GCC 7.3.0
system     : Linux
release    : 4.9.0-8-amd64
machine    : x86_64
processor  :
CPU cores  : 8
interpreter: 64bit

In [11]:
#pd.set_option(""display.height"", 10)
#pd.set_option(""display.max_rows"", 20)
pd.set_option("display.max_colwidth", 500)
pd.set_option("display.expand_frame_repr", True)
pd.set_option("display.width", 1000)

<a id='Table_of_Contents'></a> 
### Table of Contents

[BP_2016_00A1](#BP_2016_00A1) Businesses By NAIC for TN

[BP_2016_00A1 County](#BP_2016_00A1_County) By County

[BP_2016_00A3 County](#BP_2016_00A3_County)

[BP_2016_00A3](#BP_2016_00A3) Businesses by Employment Size Class by Tract

## BP_2016_00A1 Businesses By NAIC for TN
<a id='BP_2016_00A1'></a>


[Table of Contents](#Table_of_Contents)

# BP_2016_00A1

Geography Area Series: County Business Patterns

Release Date : 04/19/2018

NOTE: Data based on the 2016 County Business Patterns. CBP html tables and download files can be found at the  County Business Patterns Website.
For information on confidentiality protection, sampling error, nonsampling error, and definitions, see  Survey Methodology.
Data in this table represent those available when this report was created; data may not be available for all NAICS industries or geographies. Excludes most government employees, railroad employees, and self-employed persons.

 
 
  Table Name
  Geography Area Series: County Business Patterns: 2016 
  
 
  Release Schedule
  The data in this file were released on April 19, 2018.
  
 
  Key Table Information
  Beginning with reference year 2007, CBP data are released using the Noise disclosure methodology to protect confidentiality. See Survey Methodology for complete information on the coverage and methodology of the County Business Patterns data series. 
  
 
  Universe
  The universe of this file is all operating establishments with one or more paid employees. This universe includes most establishments classified in the North American Industry Classification System (NAICS) Codes 11 through 813990. For specific exclusions and inclusions, see Industry Classification of Establishments. 
  
 
  Geography Coverage
  The data are shown at the U.S. level and by State, County, Metropolitan and Micropolitan Statistical Areas, and Congressional District. Also available are data for the District of Columbia, Puerto Rico, and the Island Areas (American Samoa, Guam, the Commonwealth of the Northern Mariana Islands, and the U.S. Virgin Islands) at the state and county equivalent levels. 
  
 
  Industry Coverage
  The data are shown at the 2- through 6-digit NAICS code levels for all sectors with published data. 
  
 
  Data Items and Other Identifying Records
  This file contains data on the number of establishments, total employment, first quarter payroll and annual payroll. 
  
 
  Sort Order
  Data are presented in ascending geography by NAICS code sequence. 
  
 
  FTP Download
  Download the entire table at http://www2.census.gov/econ2016/CB/sector00/CB1600A11.zip. 
  
 
  Contact Information
  U.S. Census Bureau Economy-Wide Statistics Division Business Statistics Branch Tel: (301)763-2580 Email: ewd.county.business.patterns@census.gov 
  


a	0 to 19 employees

D	Withheld to avoid disclosing data for individual companies; data are included in higher level totals

b	20 to 99 employees

c	100 to 249 employees

f	500 to 999 employees

g	1,000 to 2,499 employees

e	250 to 499 employees

Source: U.S. Census Bureau, 2016 County Business Patterns.

In [12]:
meta = pd.read_csv('BP_2016_00A1_metadata.csv')
meta

                GEO.id                                 Geographic identifier code
0              GEO.id2                                                        Id2
1    GEO.display-label                                       Geographic area name
2             NAICS.id                                            2012 NAICS code
3  NAICS.display-label                                 Meaning of 2012 NAICS code
4              YEAR.id                                                       Year
5                ESTAB                                   Number of establishments
6                  EMP  Paid employees for pay period including March 12 (number)
7              PAYQTR1                             First-quarter payroll ($1,000)
8               PAYANN                                    Annual payroll ($1,000)

In [13]:
data = pd.read_csv('BP_2016_00A1_with_ann.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 10 columns):
GEO.id                 1829 non-null object
GEO.id2                1829 non-null object
GEO.display-label      1829 non-null object
NAICS.id               1829 non-null object
NAICS.display-label    1829 non-null object
YEAR.id                1829 non-null object
ESTAB                  1829 non-null object
EMP                    1829 non-null object
PAYQTR1                1829 non-null object
PAYANN                 1829 non-null object
dtypes: object(10)
memory usage: 143.0+ KB

In [14]:
data['GEO.display-label ESTAB NAICS.display-label'.split(' ')].head()

            GEO.display-label                     ESTAB                            NAICS.display-label
0        Geographic area name  Number of establishments                     Meaning of 2012 NAICS code
1  Anderson County, Tennessee                      1554                          Total for all sectors
2  Anderson County, Tennessee                         1     Agriculture, forestry, fishing and hunting
3  Anderson County, Tennessee                         8  Mining, quarrying, and oil and gas extraction
4  Anderson County, Tennessee                         1                                      Utilities

## BP_2016_00A3 Businesses by Employment Size Class by Tract
<a id='BP_2016_00A3'></a>


[Table of Contents](#Table_of_Contents)

# BP_2016_00A3

Geography Area Series: County Business Patterns by Employment Size Class by Tract

Release Date : 04/19/2018

NOTE: Data based on the 2016 County Business Patterns. CBP html tables and download files can be found at the  County Business Patterns Website.
For information on confidentiality protection, sampling error, nonsampling error, and definitions, see  Survey Methodology.
Data in this table represent those available when this report was created; data may not be available for all NAICS industries or geographies. Excludes most government employees, railroad employees, and self-employed persons.

 
 
  Table Name
  Geography Area Series: County Business Patterns by Employment Size Class: 2016 
  
 
  Release Schedule
  The data in this file were released on April 19, 2018.
  
 
  Key Table Information
  Beginning with reference year 2007, CBP data are released using the Noise disclosure methodology to protect confidentiality. See Survey Methodology for complete information on the coverage and methodology of the County Business Patterns data series. 
  
 
  Universe
  The universe of this file is all operating establishments with one or more paid employees. This universe includes most establishments classified in the North American Industry Classification System (NAICS) Codes 11 through 813990. For specific exclusions and inclusions, see Industry Classification of Establishments. 
  
 
  Geography Coverage
  The data are shown at the U.S. level and by State, County, and Metropolitan and Micropolitan Statistical Areas. 
  
 
  Industry Coverage
   The data are shown at the 2- through 6-digit NAICS code levels for all sectors with published data. 
  
 
  Data Items and Other Identifying Records
  This file contains data classified by the employment size class of establishment. For each class size the number of establishments, total employment, first quarter payroll and annual payroll are published. 
  
 
  Sort Order
  Data are presented in ascending geography by NAICS code by employment-size class code sequence. 
  
 
  FTP Download
  Download the entire table at http://www2.census.gov/econ2016/CB/sector00/CB1600A13.zip. 
  
 
  Contact Information
  U.S. Census Bureau Economy-Wide Statistics Division Business Statistics Branch Tel: (301)763-2580 Email: ewd.county.business.patterns@census.gov 
  


N	Not available or not comparable

a	0 to 19 employees

D	Withheld to avoid disclosing data for individual companies; data are included in higher level totals

b	20 to 99 employees

c	100 to 249 employees

f	500 to 999 employees

g	1,000 to 2,499 employees

e	250 to 499 employees

Source: U.S. Census Bureau, 2016 County Business Patterns.

In [15]:
metaB1600A13 = pd.read_csv('BP_2016_00A3_metadata.csv')
metaB1600A13

                   GEO.id                                 Geographic identifier code
0                 GEO.id2                                                        Id2
1       GEO.display-label                                       Geographic area name
2                NAICS.id                                            2012 NAICS code
3     NAICS.display-label                                 Meaning of 2012 NAICS code
4              EMPSZES.id                           Employment size of establishment
5   EMPSZES.display-label                Meaning of Employment size of establishment
6                 YEAR.id                                                       Year
7                   ESTAB                                   Number of establishments
8                     EMP  Paid employees for pay period including March 12 (number)
9                 PAYQTR1                             First-quarter payroll ($1,000)
10                 PAYANN                                    Annual payroll ($1,000)

In [16]:
data2016_00A3 = pd.read_csv('BP_2016_00A3_with_ann.csv')
data2016_00A3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18281 entries, 0 to 18280
Data columns (total 12 columns):
GEO.id                   18281 non-null object
GEO.id2                  18281 non-null object
GEO.display-label        18281 non-null object
NAICS.id                 18281 non-null object
NAICS.display-label      18281 non-null object
EMPSZES.id               18281 non-null object
EMPSZES.display-label    18281 non-null object
YEAR.id                  18281 non-null object
ESTAB                    18281 non-null object
EMP                      18281 non-null object
PAYQTR1                  18281 non-null object
PAYANN                   18281 non-null object
dtypes: object(12)
memory usage: 1.7+ MB

In [17]:
data2016_00A3['GEO.display-label ESTAB NAICS.display-label EMPSZES.display-label'.split(' ')].head()

            GEO.display-label                     ESTAB         NAICS.display-label                        EMPSZES.display-label
0        Geographic area name  Number of establishments  Meaning of 2012 NAICS code  Meaning of Employment size of establishment
1  Anderson County, Tennessee                      1554       Total for all sectors                           All establishments
2  Anderson County, Tennessee                       735       Total for all sectors         Establishments with 1 to 4 employees
3  Anderson County, Tennessee                       331       Total for all sectors         Establishments with 5 to 9 employees
4  Anderson County, Tennessee                       192       Total for all sectors       Establishments with 10 to 19 employees

In [18]:
ls

aff_download_readme_ann.txt  BP_2016_00A1_with_ann.csv
aff_download.zip             BP_2016_00A3_metadata.csv
BP_2016_00A1_metadata.csv    BP_2016_00A3.txt
BP_2016_00A1.txt             BP_2016_00A3_with_ann.csv

## BP_2016_00A1 County
<a id='BP_2016_00A1_County'></a>


[Table of Contents](#Table_of_Contents)

# BP_2016_00A1

Geography Area Series: County Business Patterns

Release Date : 04/19/2018

NOTE: Data based on the 2016 County Business Patterns. CBP html tables and download files can be found at the  County Business Patterns Website.
For information on confidentiality protection, sampling error, nonsampling error, and definitions, see  Survey Methodology.
Data in this table represent those available when this report was created; data may not be available for all NAICS industries or geographies. Excludes most government employees, railroad employees, and self-employed persons.

 
 
  Table Name
  Geography Area Series: County Business Patterns: 2016 
  
 
  Release Schedule
  The data in this file were released on April 19, 2018.
  
 
  Key Table Information
  Beginning with reference year 2007, CBP data are released using the Noise disclosure methodology to protect confidentiality. See Survey Methodology for complete information on the coverage and methodology of the County Business Patterns data series. 
  
 
  Universe
  The universe of this file is all operating establishments with one or more paid employees. This universe includes most establishments classified in the North American Industry Classification System (NAICS) Codes 11 through 813990. For specific exclusions and inclusions, see Industry Classification of Establishments. 
  
 
  Geography Coverage
  The data are shown at the U.S. level and by State, County, Metropolitan and Micropolitan Statistical Areas, and Congressional District. Also available are data for the District of Columbia, Puerto Rico, and the Island Areas (American Samoa, Guam, the Commonwealth of the Northern Mariana Islands, and the U.S. Virgin Islands) at the state and county equivalent levels. 
  
 
  Industry Coverage
  The data are shown at the 2- through 6-digit NAICS code levels for all sectors with published data. 
  
 
  Data Items and Other Identifying Records
  This file contains data on the number of establishments, total employment, first quarter payroll and annual payroll. 
  
 
  Sort Order
  Data are presented in ascending geography by NAICS code sequence. 
  
 
  FTP Download
  Download the entire table at http://www2.census.gov/econ2016/CB/sector00/CB1600A11.zip. 
  
 
  Contact Information
  U.S. Census Bureau Economy-Wide Statistics Division Business Statistics Branch Tel: (301)763-2580 Email: ewd.county.business.patterns@census.gov 
  


a	0 to 19 employees

D	Withheld to avoid disclosing data for individual companies; data are included in higher level totals

b	20 to 99 employees

c	100 to 249 employees

f	500 to 999 employees

g	1,000 to 2,499 employees

e	250 to 499 employees

Source: U.S. Census Bureau, 2016 County Business Patterns.

In [22]:
metaCB1600A11 = pd.read_csv('BP_2016_00A1_metadata.csv')
metaCB1600A11

                GEO.id                                 Geographic identifier code
0              GEO.id2                                                        Id2
1    GEO.display-label                                       Geographic area name
2             NAICS.id                                            2012 NAICS code
3  NAICS.display-label                                 Meaning of 2012 NAICS code
4              YEAR.id                                                       Year
5                ESTAB                                   Number of establishments
6                  EMP  Paid employees for pay period including March 12 (number)
7              PAYQTR1                             First-quarter payroll ($1,000)
8               PAYANN                                    Annual payroll ($1,000)

In [36]:
pd.DataFrame.dtypes

In [92]:
pd.read_csv('BP_2016_00A1_with_ann.csv').columns

Index(['GEO.id', 'GEO.id2', 'GEO.display-label', 'NAICS.id', 'NAICS.display-label', 'YEAR.id', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN'], dtype='object')

In [66]:
dataCB1600A11.iloc[0]

GEO.id                                                Geographic identifier code
GEO.id2                                                                      Id2
GEO.display-label                                           Geographic area name
NAICS.id                                                         2012 NAICS code
NAICS.display-label                                   Meaning of 2012 NAICS code
YEAR.id                                                                     Year
ESTAB                                                   Number of establishments
EMP                    Paid employees for pay period including March 12 (number)
PAYQTR1                                           First-quarter payroll ($1,000)
PAYANN                                                   Annual payroll ($1,000)
Name: 0, dtype: object

In [82]:
dataCB1600A11.loc[:,'PAYANN'].unique()

array(['2345381', 'D', '7773', ..., '79749', '78196', '97'], dtype=object)

In [109]:
def read_conv(infile, cols, dtype, skip=None):
    def my_func(x):
        try:
            converted_value = dtype(x)
        except ValueError:
            converted_value = np.nan
        return converted_value

    return pd.read_csv(infile, skiprows=skip,
                       converters=dict(zip(list(dtype_dict.keys()), [my_func] * len(list(dtype_dict.keys())))))

dataCB1600A11 = read_conv('BP_2016_00A1_with_ann.csv',
                          ['YEAR.id', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN'],
                          int, skip=[1])
dataCB1600A11.head()

           GEO.id  GEO.id2           GEO.display-label NAICS.id                            NAICS.display-label  YEAR.id  ESTAB      EMP   PAYQTR1     PAYANN
0  0500000US47001    47001  Anderson County, Tennessee       00                          Total for all sectors     2016   1554  39443.0  556591.0  2345381.0
1  0500000US47001    47001  Anderson County, Tennessee       11     Agriculture, forestry, fishing and hunting     2016      1      NaN       NaN        NaN
2  0500000US47001    47001  Anderson County, Tennessee       21  Mining, quarrying, and oil and gas extraction     2016      8     73.0     819.0     7773.0
3  0500000US47001    47001  Anderson County, Tennessee       22                                      Utilities     2016      1      NaN       NaN        NaN
4  0500000US47001    47001  Anderson County, Tennessee       23                                   Construction     2016     90   1009.0   12237.0    53738.0

In [107]:
dataCB1600A11.describe()

            GEO.id2  YEAR.id         ESTAB            EMP       PAYQTR1        PAYANN
count   1828.000000   1828.0   1828.000000    1461.000000  1.461000e+03  1.461000e+03
mean   47094.490153   2016.0    147.369803    3434.091718  3.640996e+04  1.531936e+05
std       55.228107      0.0    809.222612   19411.921508  2.330158e+05  9.754842e+05
min    47001.000000   2016.0      1.000000       0.000000  0.000000e+00  1.200000e+01
25%    47047.000000   2016.0      4.000000      74.000000  5.040000e+02  2.251000e+03
50%    47095.000000   2016.0     19.000000     299.000000  2.138000e+03  9.577000e+03
75%    47143.000000   2016.0     65.250000    1486.000000  1.144100e+04  4.995200e+04
max    47189.000000   2016.0  19470.000000  439335.000000  5.722082e+06  2.346841e+07

## BP_2016_00A3 County
<a id='BP_2016_00A3_County'></a>


[Table of Contents](#Table_of_Contents)

In [25]:
get_ipython().set_next_input(
    toc.genTOCMarkdownCell(
        "BP_2016_00A3 County"
    ))
print(toc.genTOCEntry())

[BP_2016_00A3 County](#BP_2016_00A3_County)

In [2]:
ls

aff_download2.zip                                      county/
aff_download_readme_ann.txt                            state/
aff_download.zip                                       tract/
Businesses by NAIC and Size by State and County.ipynb

In [4]:
cd county

/home/bren/Home/python/Libraries/data/census/Businesses/county

In [5]:
ls

aff_download_readme_ann.txt  BP_2016_00A1_with_ann.csv
aff_download.zip             BP_2016_00A3_metadata.csv
BP_2016_00A1_metadata.csv    BP_2016_00A3.txt
BP_2016_00A1.txt             BP_2016_00A3_with_ann.csv